In [2]:
# Import des librairies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import re
import time
from sklearn.preprocessing import LabelEncoder

from tqdm import tqdm

# options
pd.set_option('display.max_row', 200)
pd.set_option('display.max_columns', 50)

# dossier
folder = 'D:/Fichiers_dev/test_xml/tables/'

## Table individus

In [3]:
data3 = pd.read_csv(folder + 'data_nettoyees.csv')

In [4]:
data3.head()

,id_declaration,chemins,champs,valeurs
0,4344aaa1-874d-4e6d-9b1a-45f7725b710c,dateDepot,dateDepot,11/07/2022 15:40:13
1,4344aaa1-874d-4e6d-9b1a-45f7725b710c,uuid,uuid,4344aaa1-874d-4e6d-9b1a-45f7725b710c
2,4344aaa1-874d-4e6d-9b1a-45f7725b710c,origine,origine,ADEL
3,4344aaa1-874d-4e6d-9b1a-45f7725b710c,complete,complete,true
4,4344aaa1-874d-4e6d-9b1a-45f7725b710c,attachedFiles/attachedFiles/fileName,fileName,VUE_PDF_DU_RECEPISSE_DU_DEPOT_XML

In [9]:
data3[data3.isna().any(axis=1)]

,id_declaration,chemins,champs,valeurs
1064011,3255f3a5-a378-4ebb-a52d-ed3a5dd8548a,activCollaborateursDto/items/items/employeur,employeur,NaN
1064016,3255f3a5-a378-4ebb-a52d-ed3a5dd8548a,activCollaborateursDto/items/items/employeur,employeur,NaN
1491619,a6a4424b-c736-4fe5-9937-b9654d040c22,activCollaborateursDto/items/items/employeur,employeur,NaN
1491620,a6a4424b-c736-4fe5-9937-b9654d040c22,activCollaborateursDto/items/items/description...,descriptionActivite,NaN
1491623,a6a4424b-c736-4fe5-9937-b9654d040c22,activCollaborateursDto/items/items/employeur,employeur,NaN
1491624,a6a4424b-c736-4fe5-9937-b9654d040c22,activCollaborateursDto/items/items/description...,descriptionActivite,NaN
1491631,a6a4424b-c736-4fe5-9937-b9654d040c22,activCollaborateursDto/items/items/employeur,employeur,NaN
1491632,a6a4424b-c736-4fe5-9937-b9654d040c22,activCollaborateursDto/items/items/description...,descriptionActivite,NaN
1501118,9345f61b-5a24-4c6c-b088-adfe3e15335d,activProfConjointDto/items/items/employeurConj...,employeurConjoint,NaN
1575505,2cdd6e4e-4aa7-4095-ba28-25dc9a580c1b,participationFinanciereDto/items/items/remuner...,remuneration,NaN
1575513,2cdd6e4e-4aa7-4095-ba28-25dc9a580c1b,participationFinanciereDto/items/items/remuner...,remuneration,NaN
1575884,1bf8acd7-9b2b-4c2d-bcac-1508a70610f0,participationFinanciereDto/items/items/remuner...,remuneration,NaN
1575892,1bf8acd7-9b2b-4c2d-bcac-1508a70610f0,participationFinanciereDto/items/items/remuner...,remuneration,NaN
1576262,7d3e2e27-454d-4b85-b8cd-ff9953cedd41,participationFinanciereDto/items/items/remuner...,remuneration,NaN
1576270,7d3e2e27-454d-4b85-b8cd-ff9953cedd41,participationFinanciereDto/items/items/remuner...,remuneration,NaN
1911669,85d5722f-9fcd-42cf-bd68-c86f94f2ef32,fonctionBenevoleDto/items/items/nomStructure,nomStructure,NaN
1911670,85d5722f-9fcd-42cf-bd68-c86f94f2ef32,fonctionBenevoleDto/items/items/descriptionAct...,descriptionActivite,NaN
1912103,ce51762e-482c-413a-956a-48b6ac817670,fonctionBenevoleDto/items/items/nomStructure,nomStructure,NaN
1912104,ce51762e-482c-413a-956a-48b6ac817670,fonctionBenevoleDto/items/items/descriptionAct...,descriptionActivite,NaN

In [10]:
mask_colonne_table_individus = (data3['chemins'].str.contains('general/declarant/'))

In [11]:
individus = data3[mask_colonne_table_individus]

In [12]:
individus = individus[['id_declaration', 'champs', 'valeurs']]
individus

,id_declaration,champs,valeurs
226,4344aaa1-874d-4e6d-9b1a-45f7725b710c,civilite,M.
227,4344aaa1-874d-4e6d-9b1a-45f7725b710c,nom,ABAD
228,4344aaa1-874d-4e6d-9b1a-45f7725b710c,prenom,DAMIEN
229,4344aaa1-874d-4e6d-9b1a-45f7725b710c,email,[Données non publiées]
230,4344aaa1-874d-4e6d-9b1a-45f7725b710c,dateNaissance,05/04/1980
...,...,...,...
1944203,d1129c22-a715-4df6-8c0f-cfc678f1518c,voie,[Données non publiées]
1944204,d1129c22-a715-4df6-8c0f-cfc678f1518c,complement,[Données non publiées]
1944205,d1129c22-a715-4df6-8c0f-cfc678f1518c,codePostal,[Données non publiées]
1944206,d1129c22-a715-4df6-8c0f-cfc678f1518c,ville,[Données non publiées]
1944207,d1129c22-a715-4df6-8c0f-cfc678f1518c,pays,[Données non publiées]

In [13]:
# suppression des declarations/individus en doublons, suppression des lignes si pour une meme declaration plusieurs individus mentionnés
# on gardera les dernières valeurs
individus = individus.drop(individus[individus.duplicated(subset=['id_declaration', 'champs'], keep='last')].index)

In [14]:
# pivot des champs
individus = pd.pivot(individus, columns='champs', index='id_declaration', values='valeurs').reset_index()

In [15]:
individus['id_individu'] = individus['nom']+individus['prenom']+individus['dateNaissance']
individus

champs,id_declaration,civilite,codePostal,complement,dateNaissance,email,nom,pays,prenom,telephoneDec,ville,voie,id_individu
0,000765d9-da68-48c6-a95d-f34a12cacb5f,M.,[Données non publiées],[Données non publiées],29/07/1951,[Données non publiées],DELAPORTE,[Données non publiées],Olivier,[Données non publiées],[Données non publiées],[Données non publiées],DELAPORTEOlivier29/07/1951
1,00138e83-44ec-4da1-89f3-37d2309a62a2,Mme,[Données non publiées],[Données non publiées],04/04/1964,[Données non publiées],SCHMITT,[Données non publiées],SYLVIE,[Données non publiées],[Données non publiées],[Données non publiées],SCHMITTSYLVIE04/04/1964
2,0014115c-cbae-4bdd-98d1-39c8e6062095,M.,[Données non publiées],[Données non publiées],26/06/1946,[Données non publiées],PELIEU,[Données non publiées],MICHEL,[Données non publiées],[Données non publiées],[Données non publiées],PELIEUMICHEL26/06/1946
3,0020c869-c893-40ff-b7c4-42aeb8f6d1c0,Mme,[Données non publiées],[Données non publiées],14/03/1953,[Données non publiées],Gatel,[Données non publiées],Françoise,[Données non publiées],[Données non publiées],[Données non publiées],GatelFrançoise14/03/1953
4,00243ad5-2191-4efc-884b-df9213413b17,Mme,[Données non publiées],[Données non publiées],30/11/1963,[Données non publiées],lecordier,[Données non publiées],nathalie,[Données non publiées],[Données non publiées],[Données non publiées],lecordiernathalie30/11/1963
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10869,ffe77ec2-bc2d-495c-9240-e9e05d0ebccc,M.,[Données non publiées],[Données non publiées],20/03/1967,[Données non publiées],Kermorvant,[Données non publiées],Patrice,[Données non publiées],[Données non publiées],[Données non publiées],KermorvantPatrice20/03/1967
10870,ffe864c3-aaa8-4218-837c-003c6024017e,Mme,[Données non publiées],[Données non publiées],01/12/1970,[Données non publiées],Grignola-Bernard,[Données non publiées],Virginie,[Données non publiées],[Données non publiées],[Données non publiées],Grignola-BernardVirginie01/12/1970
10871,ffe8cb24-2c74-4f7d-a734-78011e1937d2,M.,[Données non publiées],[Données non publiées],29/10/1980,[Données non publiées],BLINT,[Données non publiées],Cyrille,[Données non publiées],[Données non publiées],[Données non publiées],BLINTCyrille29/10/1980
10872,ffeaea0a-543e-429c-8808-daeb77410cc2,Mme,[Données non publiées],[Données non publiées],23/02/1964,[Données non publiées],DEZARNAUD,[Données non publiées],Sylvie,[Données non publiées],[Données non publiées],[Données non publiées],DEZARNAUDSylvie23/02/1964
10873,ffebc082-9175-45a5-be14-da1a3d89e87e,Mme,[Données non publiées],[Données non publiées],26/03/1950,[Données non publiées],Mélin,[Données non publiées],Joëlle,[Données non publiées],[Données non publiées],[Données non publiées],MélinJoëlle26/03/1950

In [16]:
individus.shape

(10874, 13)

In [17]:
# suppression des doublons
individus = individus.drop_duplicates('id_individu').drop(columns='id_declaration').reset_index(drop=True)
individus.head()

champs,civilite,codePostal,complement,dateNaissance,email,nom,pays,prenom,telephoneDec,ville,voie,id_individu
0,M.,[Données non publiées],[Données non publiées],29/07/1951,[Données non publiées],DELAPORTE,[Données non publiées],Olivier,[Données non publiées],[Données non publiées],[Données non publiées],DELAPORTEOlivier29/07/1951
1,Mme,[Données non publiées],[Données non publiées],04/04/1964,[Données non publiées],SCHMITT,[Données non publiées],SYLVIE,[Données non publiées],[Données non publiées],[Données non publiées],SCHMITTSYLVIE04/04/1964
2,M.,[Données non publiées],[Données non publiées],26/06/1946,[Données non publiées],PELIEU,[Données non publiées],MICHEL,[Données non publiées],[Données non publiées],[Données non publiées],PELIEUMICHEL26/06/1946
3,Mme,[Données non publiées],[Données non publiées],14/03/1953,[Données non publiées],Gatel,[Données non publiées],Françoise,[Données non publiées],[Données non publiées],[Données non publiées],GatelFrançoise14/03/1953
4,Mme,[Données non publiées],[Données non publiées],30/11/1963,[Données non publiées],lecordier,[Données non publiées],nathalie,[Données non publiées],[Données non publiées],[Données non publiées],lecordiernathalie30/11/1963

In [ ]:
# encodage id_individus
encoder_id_individu = LabelEncoder()

individus['id_individu'] = encoder_id_individu.fit_transform(individus['id_individu'])